*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}
/* IMAGE TEXTE RECRUTEMENT */
h2,h3,h4{
    color: #f4c974;
}

h1{
    border-bottom: solid 1px white;
    width: 30%;
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    color: white;
    filter: brightness(150%);
}

header{
    width: 100vw;
    background: url('fond1intro.jpg') no-repeat center;
    background-size: 100%;
}

header:not(:last-child){
    filter: brightness(50%);
}

.listing{
    background-color: white;
}

.head_img>img{
    display: flex;
    width: 100%;
    height: max-content;
    object-fit: cover;
    justify-items: center;
    font-weight: bold;
}

.head_text{
    display: flex;
    text-align: center;
    width: 100%;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    color: white;
}

.head_text>p{
    width: 50%;
    align-self: center;
}

/* CONTENUE PRINCIPARLE, RESEAU SOCIAUX */

.main-part{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.offre{
    width: 4fr;
}

.soc-media{
    width: 1fr;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.soc-media>h4{
    text-align: center;
}

[class*="soc_btn"]{
    width: 50%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-self: center;
}

.soc_btn_lkd{
    background-color: #0077b5;
    color: white;
}

.soc_btn_fb{
    background-color: #3b5998;
    color: white;
}

.soc_btn_post{
    background-color: #e1e1e1;
}