*{
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
    font-weight: 300;

}

body{
    height: 100vh;
}
/* IMAGE TEXTE RECRUTEMENT */
h2,h3,h4{
    color: #f4c974;
    text-transform:uppercase ;
}

h1{
    border-bottom: solid 1px white;
    width: 30%;
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    color: white;
    filter: brightness(150%);
}

header{
    width: 100vw;
    background: url('fond1intro.jpg') no-repeat center;
    background-size: 100%;
    padding-top: 1%;
}

header:not(:last-child){
    filter: brightness(90%);
}

.listing{
    background-color: white;
    padding: 0.5% 0.5% 0.5% 9%;
}

.head_text{
    display: flex;
    text-align: center;
    width: 100%;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    color: white;
    max-height: min-content;
}

.head_text>p{
    width: 50%;
    align-self: center;
}

/* CONTENUE PRINCIPARLE, RESEAU SOCIAUX */

.main-part{
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: 2%;
    max-height: max-content;
    background-color: #e1e1e11a;
}
.offre{
    width: 3fr;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 10%;
    padding-left: 10%;
}

.offre .ico{
    display: flex;
    justify-content: flex-start;
}

.offre p{
    line-break:auto;
}

main .offre h2{
    font-weight: 500;
    padding: 5% 0 2% 0;
    border-bottom: 1px solid black;
}

.offre [class^="fa"]{
    color: #e1e1e1;
}

.form_offre{
    padding-top: 2%;
}

[class*="ico"]{
    width: min-content;
    text-align: center;
    justify-self: center;
}

.main-part>.offre>.form_offre{
    display: grid;
    grid-template-areas: 
    "a b"
    "c d"
    "e f"
    "g h"
    "i j"
    "k l";
    grid-template-columns: 6% 94%;
    grid-template-rows: 2fr 2fr 2fr 2fr 2fr;
}

.ico_a{
    grid-area: a;
}
.ico_c{
    grid-area: c;
}
.ico_e{
    grid-area: e;
}
.ico_g{
    grid-area: g;
}
.ico_i{
    grid-area: i;
}
.ico_k{
    grid-area: k;
}

.miss{
    grid-area: b;
}
.demand{
    grid-area: d;
}
.donne{
    grid-area: f;
}
.acti{
    grid-area: h;
}
.entre{
    grid-area: j;
}
.renseigne{
    grid-area: l;
}


.soc-media{
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    text-align: center;
    flex-flow: wrap;
    flex-direction: column;
    align-content: space-around;
    padding: 10%;
}

.soc-media>h4{
    width: 100%;
}

[class*="soc_btn"]{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-self: center;
    padding: 2%;
    border-radius: 6%;
    border-color: white;
    font-family: 'Roboto';
    min-width: max-content;
    font-size: 16px;
}

a{
    text-decoration: none;
}

.soc_btn_lkd{
    background-color: #0077b5;
    color: white;
}

.soc_btn_fb{
    background-color: #3b5998;
    color: white;
}

.soc_btn_post{
    background-color: #e1e1e1;
}

/* FORMULAIRE */

.formulaire{
    padding: 0 0 0 10.5%;
    display: flex;
    justify-content: space-evenly;
    background-color: #e1e1e11a;
}

.formulaire input{
    width: 30%;
    height: 5%;
    border: 0.5px rgb(233, 233, 233) solid;
    border-radius: 0.2em;
}